canvas {
  background-color: #3057E1;
  border: 2px solid black;
}

#visual {
  float: left;
  width: 800px;
  text-align: center;
  /* border: 2px solid black; */
}

#fileHandle {
  float: left;
  width: 350px;
  margin-left: 10px;
  font-family: "Lucida Grande";
  /* margin-top: 10px; */
  /* padding: 5px; */
  /* border: 2px solid black; */
}