<!doctype html>
<html lang="en-US">
    <head>
        <meta charset="UTF-8" />
        <title>Furniture optimizer</title>
        <script src="canvas.js"></script>
    </head>

    <body>
        <h1>Optimizing Ur Room</h1>

        <div id="fileHandle"></div>
        
        <div id="visual">
            <canvas id="canvas" width="500" height="500"></canvas>
        </div>
        <!-- Uncomment the following to test draw()
        Todo: But needs to send request then run draw(object) -->
        <!-- <button onclick="draw()">Optimize</button> -->
    </body>
</html>